<nav>

  <div class="left-menu">
    <button mat-button routerLink="/">
      Home
    </button>

    <button mat-button routerLink="/courses">
      Cours
    </button>

    <button mat-button routerLink="/search">
      Search
    </button>
  </div>

  <div class="right-menu">
    <button mat-icon-button *ngIf="_authStore.isLoggedOut$ | async" routerLink="/sign-in">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button *ngIf="_authStore.isLoggedIn$ | async" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

</nav>
