::ng-deep {

  .mat-dialog-container {
    background-color: #fff;
    margin: 0 auto;
    color: #000000;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    color:grey;
  }

  .mat-form-field-label {
    color: grey;
  }
}
